.section__text .show_skills-scores:hover, .section__text .show_projects:hover, .show_experience:hover, .hide_experience:hover, .hide_projects:hover {
  -webkit-transform: perspective(1000px) rotateY(15deg);
          transform: perspective(1000px) rotateY(15deg);
  -webkit-box-shadow: 0px 0px 21px 8px white;
  box-shadow: 0px 0px 21px 8px white;
}

.skills-scores h2, .introduction_projects h2, .introduction_experience h2 {
  font: 80px/94px Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}

.introduction_projects h3, .introduction_experience h3 {
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
}

.section1 .background_mask, .section2 .background_mask, .section3 .background_mask, .section4 .background_mask {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 18;
  left: 0;
  top: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

body {
  cursor: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-color: #7fbfd2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-block {
  position: absolute;
  top: 0;
  right: 50%;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.intro .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 200px/200px "Alfa Slab One", cursive;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  z-index: 25;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transform-origin: 100%, 100%;
          transform-origin: 100%, 100%;
}

.link_grow {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.header {
  width: 100%;
  height: 10%;
  padding: 0 5%;
  position: absolute;
  z-index: 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger_logo {
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 18;
}

.header .burger_menu {
  width: 40px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.header__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 10%;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .burger_menu .burger__link {
  width: 35px;
  height: 4px;
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header .burger_menu::before {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.burger_menu.active.hover_link::before {
  -webkit-animation: rotateF 1s linear;
          animation: rotateF 1s linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rotateF {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes rotateF {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

.burger_menu.active.hover_link::after {
  -webkit-animation: rotateB 1s linear;
          animation: rotateB 1s linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rotateB {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@keyframes rotateB {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

.header .burger_menu::after {
  content: "";
  width: 30px;
  height: 4px;
  position: absolute;
  z-index: 19;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header__mail_logo.hover_link #rocket_comp {
  -webkit-animation: rocket 3s linear infinite;
          animation: rocket 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

.header__burger_logo_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  z-index: 19;
}

.header__burger_logo_title span {
  display: block;
  letter-spacing: 1px;
  font-family: 6px/8px Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header__burger_logo_title.hover_link :nth-child(odd) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__burger_logo_title.hover_link :nth-child(even) {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

.header__burger_logo_title.active {
  opacity: 0;
}

.header__mail_logo.hover_link #cloud_comp {
  -webkit-animation: cloud 3s linear infinite;
          animation: cloud 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes cloud {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

@keyframes cloud {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

.header__mail_logo.hover_link #moon {
  -webkit-animation: moon 3s linear infinite;
          animation: moon 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes moon {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

@keyframes moon {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

.burger__link.active {
  opacity: 0;
}

.burger_menu.hover_link::before {
  width: 30px;
}

.burger_menu.hover_link::after {
  width: 40px;
}

.burger_menu.active::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  width: 40px;
  background: #000;
}

.burger_menu.active::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 10px;
  width: 40px;
  background: #000;
}

.header__slidebar_menu {
  position: absolute;
  width: 500px;
  height: 100vh;
  left: -100%;
  top: 0;
  background-color: #d2dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.header__slidebar_menu .nav_link_top, .header__slidebar_menu .nav_link_middle, .header__slidebar_menu .nav_link_bottom, .header__slidebar_menu .nav_link_home {
  display: inline-block;
  font: 48px/56px Arial, Helvetica, sans-serif;
  color: #7fbfd2;
  overflow: hidden;
  position: relative;
}

.header__slidebar_menu .nav_link_top::before, .header__slidebar_menu .nav_link_middle::before, .header__slidebar_menu .nav_link_bottom::before, .header__slidebar_menu .nav_link_home::before {
  content: '';
  position: absolute;
  z-index: 100;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__slidebar_menu .nav_link_top.active::before {
  left: 0;
}

.header__slidebar_menu .nav_link_middle.active::before {
  left: 0;
}

.header__slidebar_menu .nav_link_bottom.active::before {
  left: 0;
}

.nav_link_top:hover::before, .nav_link_middle:hover::before, .nav_link_bottom:hover::before, .nav_link_home:hover::before {
  left: 0;
}

.header__slidebar_menu.active {
  left: 0;
  z-index: 17;
}

.container--horizontal {
  width: 100vw;
  height: 100vh;
}

.section1 {
  overflow: hidden;
}

.section1 .background_mask {
  background-image: url("../image/section1.svg");
}

.background_mask.active, .section__text.active {
  opacity: 0;
}

.background_mask.opacity {
  opacity: 0.5;
}

.section__video {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2 {
  overflow: hidden;
}

.section2 .background_mask {
  background-image: url("../image/section2.svg");
}

.section3 {
  overflow: hidden;
}

.section3 .background_mask {
  background-image: url("../image/section3.svg");
}

.section4 {
  overflow: hidden;
}

.section4 .background_mask {
  background-image: url("../image/section4.svg");
}

.section__text {
  position: absolute;
  right: 0;
  top: 50%;
  width: 60%;
  height: 100%;
  padding: 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 19;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.section__text .show_skills-scores {
  -webkit-perspective: 50px;
          perspective: 50px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font: 22px Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  border: 1px solid inherit;
  border-radius: 10px;
  -webkit-transform: perspective(1000px) rotateY(-15deg);
          transform: perspective(1000px) rotateY(-15deg);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(33%, #a1d461), color-stop(66%, #a1d461), to(white));
  background: linear-gradient(90deg, white 0%, #a1d461 33%, #a1d461 66%, white 100%);
}

.section__text .show_projects {
  display: block;
  width: 100%;
  text-align: center;
  font: 22px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px 40px;
  border: 1px solid inherit;
  border-radius: 10px;
  -webkit-transform: perspective(1000px) rotateY(-15deg);
          transform: perspective(1000px) rotateY(-15deg);
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(33%, #ffb244), color-stop(66%, #ffb244), to(white));
  background: linear-gradient(90deg, white 0%, #ffb244 33%, #ffb244 66%, white 100%);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.show_experience {
  display: block;
  width: 100%;
  text-align: center;
  font: 22px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px 40px;
  border: 1px solid inherit;
  border-radius: 10px;
  -webkit-transform: perspective(1000px) rotateY(-15deg);
          transform: perspective(1000px) rotateY(-15deg);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(33%, #eed092), color-stop(66%, #eed092), to(white));
  background: linear-gradient(90deg, white 0%, #eed092 33%, #eed092 66%, white 100%);
}

.description_text {
  font: 26px/28px Arial, Helvetica, sans-serif;
  color: #fff;
  height: auto;
  margin-bottom: 30px;
}

.section3.front, .section2.front, .section1.front {
  -webkit-transform: translate3d(-100%, 0px, 0px);
          transform: translate3d(-100%, 0px, 0px);
}

.section4.front {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.scroll {
  position: fixed;
  z-index: 18;
  right: 3%;
  bottom: 10%;
  font: 10px/10px Arial, cursive;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll .arrow {
  -webkit-animation: arrow 1s linear infinite;
          animation: arrow 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.container_click.active {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container_click {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 25%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 18;
  text-align: center;
  font: 18px/50px Arial, cursive;
  color: #fff;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.container_click .click span, .container_click .it span {
  display: inline-block;
}

.container_click .click :nth-child(1) {
  -webkit-animation: letter1 1s ease 0.5s infinite;
          animation: letter1 1s ease 0.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .click :nth-child(2) {
  -webkit-animation: letter2 1s ease 1s infinite;
          animation: letter2 1s ease 1s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .click :nth-child(3) {
  -webkit-animation: letter3 1s ease 2s infinite;
          animation: letter3 1s ease 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .click :nth-child(4) {
  -webkit-animation: letter1 1s ease 0.5s infinite;
          animation: letter1 1s ease 0.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .click :nth-child(5) {
  -webkit-animation: letter2 1s ease 1s infinite;
          animation: letter2 1s ease 1s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .it :nth-child(1) {
  -webkit-animation: letter1 1s ease 0.5s infinite;
          animation: letter1 1s ease 0.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container_click .it :nth-child(2) {
  -webkit-animation: letter2 1s ease 1s infinite;
          animation: letter2 1s ease 1s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes letter1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes letter1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes letter2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes letter2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes letter3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes letter3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.skills-scores {
  position: absolute;
  z-index: 19;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 80px;
  background-color: #a1d461;
  color: #fff;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.introduction_projects {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
  padding: 5%;
  background-color: #ffb244;
  color: #fff;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.introduction_projects p {
  font: 32px Arial, Helvetica, sans-serif;
  display: block;
  height: auto;
  margin-bottom: 10px;
}

.introduction_projects span {
  display: block;
}

.introduction_projects h3 {
  font: 32px/38px Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.introduction_projects .description_top, .introduction_projects .description_bottom {
  width: 40%;
  margin-bottom: 3%;
}

.introduction_projects .description_top span, .introduction_projects .description_bottom span {
  font-style: italic;
}

.introduction_projects img {
  display: block;
  position: fixed;
  width: 50%;
  right: -50%;
  top: 0;
  z-index: 20;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.project_responsive.hover {
  -webkit-transform: translate(-110%, 50%);
          transform: translate(-110%, 50%);
}

.projects_mylib.hover {
  -webkit-transform: translate(-110%, 50%);
          transform: translate(-110%, 50%);
}

.introduction_projects.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.introduction_experience {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  bottom: 0;
  padding: 5%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eed092;
  color: #fff;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.introduction_experience p {
  font: 32px Arial, Helvetica, sans-serif;
  display: block;
  height: auto;
  margin-bottom: 10px;
  font-style: italic;
}

.introduction_experience h3 {
  font: 32px/38px Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.hide_experience {
  display: block;
  width: 20%;
  text-align: center;
  font: 22px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px 40px;
  border: 1px solid inherit;
  border-radius: 10px;
  -webkit-transform: perspective(1000px) rotateY(-15deg);
          transform: perspective(1000px) rotateY(-15deg);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(33%, #eed092), color-stop(66%, #eed092), to(white));
  background: linear-gradient(90deg, white 0%, #eed092 33%, #eed092 66%, white 100%);
}

.introduction_experience.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.hide_skills_scores {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.hide_skills_scores.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hide_projects {
  display: block;
  width: 20%;
  text-align: center;
  font: 22px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px 40px;
  border: 1px solid inherit;
  border-radius: 10px;
  -webkit-transform: perspective(1000px) rotateY(-15deg);
          transform: perspective(1000px) rotateY(-15deg);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(33%, #ffb244), color-stop(66%, #ffb244), to(white));
  background: linear-gradient(90deg, white 0%, #ffb244 33%, #ffb244 66%, white 100%);
}

.skills-scores.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.skills-scores_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
}

.skills-scores_container #myChart {
  width: 500px;
  height: 500px;
}

.skills-scores_container .skills span {
  font: 32px/38px Arial, Helvetica, sans-serif;
  color: inherit;
  display: block;
  margin-bottom: 10px;
}

.scores span {
  display: block;
  height: 14px;
  background: #F92672;
  border-radius: 7px;
  margin-bottom: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.scores span:nth-child(1) {
  width: 500px;
  margin-top: 12px;
}

.scores span:nth-child(2) {
  width: 500px;
}

.scores span:nth-child(3) {
  width: 200px;
}

.scores span:nth-child(4) {
  width: 200px;
}

.scores span:nth-child(5) {
  width: 400px;
}

.scores span:nth-child(6) {
  width: 200px;
}

.scores span:nth-child(7) {
  width: 400px;
}

.burger_menu.side, .header__burger_logo_title.side {
  opacity: 0;
}

.projects_mylib, .project_responsive {
  width: 400px;
  height: auto;
}

.perspective_text {
  font: 60px/60px "Alfa Slab One", cursive;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.perspective_line {
  height: 60px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 60px;
  line-height: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.perspective_line:hover p {
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
}

.hide_background {
  position: fixed;
  left: 5%;
  top: 50%;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: 18;
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  pointer-events: none;
}

.hide_background.active {
  opacity: 0.5;
  pointer-events: painted;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hide_background.active:hover {
  opacity: 1;
}
