body {
  cursor: none;
  width: 100vw;
  height: 100vh;
}

body.skills {
  overflow: auto;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-color: #7fbfd2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-block {
  position: absolute;
  top: 0;
  right: 50%;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.intro .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 200px/200px "Alfa Slab One", cursive;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  z-index: 25;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transform-origin: 100%, 100%;
          transform-origin: 100%, 100%;
}

.link_grow {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.header {
  width: 100%;
  height: 10%;
  padding: 0 5%;
  position: absolute;
  z-index: 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger_logo {
  width: 150px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .burger_menu {
  width: 40px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.header__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 10%;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .burger_menu .burger__link {
  width: 35px;
  height: 4px;
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header .burger_menu::before {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.burger_menu.active.hover_link::before {
  -webkit-animation: rotateF 1s linear;
          animation: rotateF 1s linear;
}

@-webkit-keyframes rotateF {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes rotateF {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

.burger_menu.active.hover_link::after {
  -webkit-animation: rotateB 1s linear;
          animation: rotateB 1s linear;
}

@-webkit-keyframes rotateB {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@keyframes rotateB {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

.header .burger_menu::after {
  content: "";
  width: 30px;
  height: 4px;
  position: absolute;
  z-index: 19;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header__mail_logo.hover_link #rocket_comp {
  -webkit-animation: rocket 3s linear infinite;
          animation: rocket 3s linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

.header__burger_logo_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  z-index: 19;
}

.header__burger_logo_title span {
  display: block;
  letter-spacing: 1px;
  font-family: 6px/8px Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}

.header__burger_logo_title.hover_link :nth-child(odd) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__burger_logo_title.hover_link :nth-child(even) {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

.header__burger_logo_title.active {
  opacity: 0;
}

.header__mail_logo.hover_link #cloud_comp {
  -webkit-animation: cloud 3s linear infinite;
          animation: cloud 3s linear infinite;
}

@-webkit-keyframes cloud {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

@keyframes cloud {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

.header__mail_logo.hover_link #moon {
  -webkit-animation: moon 3s linear infinite;
          animation: moon 3s linear infinite;
}

@-webkit-keyframes moon {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

@keyframes moon {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

.burger__link.active {
  opacity: 0;
}

.burger_menu.hover_link::before {
  width: 30px;
}

.burger_menu.hover_link::after {
  width: 40px;
}

.burger_menu.active::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  width: 40px;
  background: #000;
}

.burger_menu.active::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 10px;
  width: 40px;
  background: #000;
}

.header__slidebar_menu {
  position: absolute;
  width: 500px;
  height: 100vh;
  left: -100%;
  top: 0;
  background-color: #d2dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.header__slidebar_menu .nav_link_top, .header__slidebar_menu .nav_link_middle, .header__slidebar_menu .nav_link_bottom, .header__slidebar_menu .nav_link_home {
  display: inline-block;
  font: 48px/56px Arial, Helvetica, sans-serif;
  color: #7fbfd2;
  overflow: hidden;
  position: relative;
}

.header__slidebar_menu .nav_link_top::before, .header__slidebar_menu .nav_link_middle::before, .header__slidebar_menu .nav_link_bottom::before, .header__slidebar_menu .nav_link_home::before {
  content: '';
  position: absolute;
  z-index: 100;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__slidebar_menu .nav_link_top.active::before {
  left: 0;
}

.header__slidebar_menu .nav_link_middle.active::before {
  left: 0;
}

.header__slidebar_menu .nav_link_bottom.active::before {
  left: 0;
}

.nav_link_top:hover::before, .nav_link_middle:hover::before, .nav_link_bottom:hover::before, .nav_link_home:hover::before {
  left: 0;
}

.header__slidebar_menu.active {
  left: 0;
  z-index: 17;
}

.container--horizontal {
  width: 100vw;
  height: 100vh;
}

.section1 {
  overflow: hidden;
  background-color: #7fbfd2;
}

.section__video {
  width: 74%;
  position: absolute;
  left: -10%;
  top: 7%;
}

.svg_letter {
  position: fixed;
  z-index: 18;
  left: 0;
  top: 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: calc(100vw/2.688);
  font-weight: bold;
}

svg rect {
  fill: #fff;
  -webkit-mask: url(#mask1);
          mask: url(#mask1);
}

svg > rect {
  fill: #7fbfd2;
}

.section2 {
  background-color: #f1d01b;
}

.section2.section__video {
  width: 70%;
  position: absolute;
  left: -10%;
  top: 7%;
}

.section__text {
  position: absolute;
  z-index: 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: flex-end;
  left: 70%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: right;
}

.section__text h1 {
  font: 60px/60px "Alfa Slab One", cursive;
  color: #fff;
  display: block;
  padding-bottom: 50px;
}

.section__text p {
  font: 26px Arial, Helvetica, sans-serif;
  color: #fff;
}

.section2.svg_letter {
  position: fixed;
  z-index: 18;
  left: 0;
  top: 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: calc(100vw/2.688);
  font-weight: bold;
}

.section2 svg rect {
  fill: #fff;
  -webkit-mask: url(#mask2);
          mask: url(#mask2);
}

.section2 svg > rect {
  fill: #f1d01b;
}

.section3 {
  background-color: #f1d01b;
}

.section3 .section__video {
  width: 70%;
  position: absolute;
  left: -10%;
  top: 7%;
}

.section3 .svg_letter {
  position: fixed;
  z-index: 18;
  left: 0;
  top: 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: calc(100vw/2.688);
  font-weight: bold;
}

.section3 svg rect {
  fill: #fff;
  -webkit-mask: url(#mask3);
          mask: url(#mask3);
}

.section3 svg > rect {
  fill: #efa047;
}

.section4 {
  background-color: #6dcc7a;
}

.section4.section__video {
  width: 70%;
  position: absolute;
  left: -10%;
  top: 7%;
}

.section4.svg_letter {
  position: fixed;
  z-index: 18;
  left: 0;
  top: 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: calc(100vw/2.688);
  font-weight: bold;
}

.section4 svg rect {
  fill: #fff;
  -webkit-mask: url(#mask4);
          mask: url(#mask4);
}

.section4 svg > rect {
  fill: #6dcc7a;
}

.scroll {
  overflow: hidden;
  position: fixed;
  z-index: 18;
  right: 3%;
  bottom: 10%;
  font: 10px/10px Arial, cursive;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  background-color: #7fbfd2;
}

.main .wrapper {
  width: 90vw;
  margin: 0 auto;
}

.main .wrapper .introduction {
  display: inline-block;
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
  width: 500px;
  padding: 50px;
  font: 32px/37px Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-wrap: break-word;
}

.main .wrapper .introduction h2 {
  font-weight: bold;
  display: block;
  padding-bottom: 30px;
}

.main .wrapper .skills-scores {
  width: 100%;
  padding: 80px;
  border: 80px solid #fff;
  background-color: saddlebrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .wrapper .skills-scores h2 {
  font: 80px/94px Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 33px;
  color: #fff;
}

.main .wrapper .skills-scores span {
  font: 32px/64px Arial, Helvetica, sans-serif;
  color: #fff;
  display: block;
  position: relative;
}

.main .wrapper .skills-scores span::after {
  content: '';
  position: absolute;
  left: 440px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #000;
  -webkit-animation: scores 2s ease-in-out infinite;
          animation: scores 2s ease-in-out infinite;
}

.main.projects {
  background-color: #efa047;
}

.parallax {
  background-image: url(/image/Depositphotos.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50%;
  height: 100vh;
  width: 100%;
}

.burger_menu.side, .header__burger_logo_title.side {
  opacity: 0;
}

.main.projects {
  height: 100vh;
}
